:root {
  --logo-color: #000;
}

.content-section {
  color: #000;
  background-color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__menu-list {
  display: flex;
  gap: 13px;
}

.header__menu-list .menu-list__item:not(:first-of-type) {
  margin-left: 18px;
  list-style: circle;
}

.menu-list__link {
  border: 1px solid transparent;
  border-bottom: 1px solid #000;
  font-size: 18px;
  line-height: 1.2;
  text-decoration: none;
}

.menu-list__link:hover {
  border-color: #000;
}

.header__menu-list .menu-list__link {
  line-height: 1.375;
}

.menu-list__link--active {
  border-bottom: none;
  cursor: default;
  pointer-events: none;
}

.header__logo {
  display: block;
  width: 138px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
}

.header__address {
  justify-self: end;
}

.address {
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
}

.address a {
  border: 1px solid transparent;
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.address a:hover {
  border-color: #000;
}

.cover {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 165px 50px 50px 50px;
  color: #fff;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  text-transform: uppercase;
}

.cover__title {
  padding-bottom: 106px;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 0.3em;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  margin: 20px 0 0 30px;
  text-align: center;
}

.aligned-text_right {
  margin-top: 20px;
  text-align: right;
}

.no-letter-spacing {
  margin-right: -0.3em;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  font-size: 22px;
  line-height: 1.27;
}

.letter-spacing-extended {
  word-spacing: 19px;
}

.bet_button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
  line-height: 1.15;
  text-transform: inherit;
  background: transparent;
  cursor: pointer;
}

.bet_button:hover {
  scale: 1.05;
}

.lots {
  margin: 180px 0 120px;
  padding: 0 24px;
}

.lots__heading {
  margin: 0 0 27px 40px;
  font-size: 40px;
  line-height: 1.18;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  color: #fff;
  background-position: center;
  background-size: cover;
}

.card:hover {
  background-position: left;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  /* inline-block используются, чтобы корректно отображался border-bottom */
  display: inline-block;
  margin: 31px 0 0 40px;
  border: 1px solid transparent;
  border-bottom: 1px solid #000;
  font-size: 20px;
  line-height: 1.15;
  text-decoration: none;
}

.lots__look-more-link:hover {
  border-color: #000;
}

.about {
  --logo-color: #fff;
  display: grid;
  grid-template-columns: 334px auto;
  gap: 25px;
  margin: 120px 0 180px;
  padding: 0 24px;
}

.about__column:first-of-type {
  justify-self: center;
}

.about__logo {
  display: flex;
  justify-content: center;
  width: 240px;
  height: 240px;
  margin-top: 33px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  margin: 135px 0 100px 0;
  font-size: 40px;
  line-height: 1.15;
  text-transform: uppercase;
}

.about__text {
  font-size: 20px;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 50px 82px 50px;
}

.footer__address {
  justify-self: start;
  max-width: 260px;
}

.footer__menu-list {
  text-align: center;
}

.social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
}

.social-link {
  display: block;
  width: 48px;
  height: 48px;
}

.social-link:hover {
  scale: 1.1;
}

@media (prefers-reduced-motion: no-preference) {

  .menu-list__link {
    transition: border-color 0.3s;
  }

  .address a {
    transition: border-color 0.3s;
  }

  .bet_button {
    transition: scale 0.3s;
  }

  .card {
    transition: background-position 0.6s;
  }

  .lots__look-more-link {
    transition: border-color 0.3s;
  }

  .social-link {
    transition: scale 0.6s;
  }
}
