.content-section {
  color: #000;
  background-color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.cover {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 165px 50px 50px 50px;
  color: #fff;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.lots {
  margin: 180px 0 120px;
  padding: 0 24px;
}

.about {
  display: grid;
  grid-template-columns: 334px auto;
  gap: 25px;
  margin: 120px 0 180px;
  padding: 0 24px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 50px 82px 50px;
}

.header__menu-list {
  display: flex;
  gap: 13px;
}

.header__links-list-item {
  margin-left: 19px;
  list-style: circle;
}

.header__links-list-item:first-of-type {
  margin-left: 0;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  border-bottom: 1px solid #000;
  font-size: 18px;
  line-height: 137.5%;
  text-decoration: none;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  display: block;
  width: 138px;
  height: 105px;
}

.header__logo-image {
  height: 100%;
}

.address {
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
}

.address a {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.header__address {
  justify-self: end;
}

.cover__title {
  padding-bottom: 106px;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  margin: 20px 0 0 30px;
  text-align: center;
}

.aligned-text_right {
  margin-top: 20px;
  text-align: right;
}

.no-letter-spacing {
  margin-right: -0.3em;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
}

.letter-spacing-extended {
  word-spacing: 19px;
}

.bet_button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
  line-height: 115%;
  text-transform: uppercase;
  background: transparent;
}

.lots__heading {
  margin: 0 0 27px 40px;
  font-size: 40px;
  line-height: 118%;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  color: #fff;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  /* inline-block используются, чтобы корректно отображался border-bottom */
  display: inline-block;
  margin: 31px 0 0 40px;
  border-bottom: 1px solid #000;
  font-size: 20px;
  line-height: 115%;
  text-decoration: none;
}

.about__column:first-of-type {
  justify-self: center;
}

.about__logo {
  display: flex;
  justify-content: center;
  width: 240px;
  height: 240px;
  margin-top: 33px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  margin: 135px 0 100px 0;
  font-size: 40px;
  line-height: 115%;
  text-transform: uppercase;
}

.about__text {
  font-size: 20px;
  line-height: 120%;
}

.about__text p {
  margin-bottom: 24px;
}

.about__text p:last-of-type {
  margin-bottom: 0;
}

.footer__address {
  justify-self: start;
  max-width: 260px;
}

.footer__menu-list {
  text-align: center;
}

.footer__menu-list-item {
  list-style: none;
}

.footer__menu-link {
  border-bottom: 1px solid #000;
  font-size: 18px;
  line-height: 120%;
  text-decoration: none;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
}

.footer__social-link {
  display: block;
  width: 48px;
  height: 48px;
}